@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
*{
	box-sizing: border-box;
	/*controlar dimensiones sin que se vean afectadas
	por el border o por el padding*/
	margin:0;
	padding: 0;
}
/*clases especiales*/
.borde{
	border:1px solid gray;
}
.titulo{
	width: 100%;
	height: 50px;
	/*padding: 10px;*/
	padding: 52px;
	background-color: rgba(0,0,0);
	font-family: 'Dancing Script', cursive;
	color:#fff;
	text-align: center;
	/*aumentar el titulo puede ser h1 pero...*/
	font-size: 25px;/*puede ser 2em*/
}
/*contenedor para pantallas grandes*/
.contenedor{
	width: 99%;
	max-width: 1280px;
	margin:auto; /*quede centrado*/

}
/*cuerpo*/
body{
	background-image: url('../img/fondo-pagina.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;/*la imagen se quede fija*/
	font-family: 'Chelsea Market', cursive;
}

/*navegador*/
nav{
	width: 100%;
	height: 50px;
	background-color: #DB9F16;
	max-width: 1280px;
	position: fixed;
}
/*La suma da 100=65+15+20*/
.logo{
	width: 20%;
	height: 100%;
	float: left;
	padding: 5px;/*no se pegue la imagen logo tanto al borde*/
	/*aplica para la imagen y letras*/
	text-align: center;
}
/*en su interior a otroa caja cuando esten separados*/
.logo img{
	/*width: auto;*/
	/*height: 100%; de los 50px*/
	width: 40px;
	height: 40px;
	border-radius: 50%;/*la imagen se redondee*/
	/*Si quiero rendodo total toca
	calcular en el ancho y alto en medida
	en pixeles. Teniendo en cuenta la
	altura nav 50px y padding de 5px*/
} 
.navegacion{
	width: 65%;
	height: 100%;
	float: left;
}
.ingreso{
	width: 15%;
	height: 100%;
	float: left;
}
/*niveles de navegación*/
/*nivel 0*/
nav ul{
	list-style: none;/*para quitar viñetas*/
	text-align: right;
	/*el ul vamos a desplazarlo a la derecha*/
}
nav ul li{
	/*display:inline-block; se vean horizontalmente*/
	width:130px;/*tamaño definido para todas las opciones:*/
	/*colocar el mismo color a *todos los elementos
	que la barra de navegación*/
	background-color: #DB9F16;

}
/*Para los elementos ocultos cuando pase el mouse,
muestre los elementos ul*/
nav ul li:hover>ul{ 
	display: block;
}
/*en caso de tener colores distintos en la barra de navegación
nav .navegacion ul li{ 
	background-color: #DB9F16;
}*/

/*para que las subopciones de portafolio queden como
lo esperado*/
nav .navegacion>ul>li{ /*> quiere decir
	que solo las etiquetas que estan directamente relacionadas 
	con la clase navegación y solo las li van a tener dichas
	propiedades*/
	/*width: 130px;*/
	/*se agrega el diplay: inline-block*/
	display:inline-block;
}
/*para que el ingreso complete el contenedor*/
nav .ingreso ul li{
	width: 100%;
}

nav ul li a{
	display:block;/*para ponerles
	a futuro un margin o un padding*/
	text-decoration:none;/*quitar la linea del link del anchor*/
	color:#ffffff;
	padding: 15px 2px;
	text-align: center;
	border-bottom: 2px solid #fff;/*borde a la etiqueta a*/
}
nav ul li a:hover{
	background:rgba(0,0,0,0.5);/*una opacidad mientras
	el puntero pasa sobre la "opcion"*/
	border-bottom: 2px solid rgb(0,0,0);
}
/*nivel 1 -primer despliegue*/
nav li ul{
	position: absolute;/*mantengan la posición*/
	/*para que se desplieguen los elementos:*/
	display: none;/*primero los ocultamos*/
}
/*para las opciones de ingreso:*/
nav .ingreso li ul{
	/*se le coloca un ancho a ingreso que sea pertinente*/
	width: 14%;
}
nav li ul li{
	position: relative;
}

/*nivel 2 -despliegues laterales*/
nav li ul li ul{
	left: 130px; /*desde la izquierda va a ocupar 130px*/
	top:2px;/*quede un poco abajo*/
}	
/*encabezado*/
header{
	width: 100%;
	height: 550px;
	/*depende del monitor*/
	background-image: url('../img/fondo-header.jpg');
	background-size:100% 100%; 
}
/*portafolio*/
/*#titulo1{
	width: 100%;
	height: 50px;
}*/
main#portafolio{/*tiene que estar pegado para que sepa que es de esa etiqueta
	si se separa pensara que es de alguna del interior*/
	width: 100%;
	height: 550px;
	background: rgb(255,255,255,0.9);/*transparencia 0.4*/
}
.div-porta{
	width: 33.33%;
	height:100%;
	float: left;
	text-align: center;
	padding: 50px;
	font-size: 13px;
}
.div-porta img{
	width: 150px;
	height: 150px;
	margin: 40px 0px 0px 0px;
	border-radius: 50%;
}
/*en div porta hay una etiqueta p que quiero este justificada*/
.div-porta p{
	margin: 40px 0px 0px 0px;/*cuando hay 2 medidas afecta primero
	arriba y abajo y la otra es izq y der*/
	/*margin-top: 20px;*/
	text-align: justify;

}
/*quinenes-somos*/
/*#titulo2{
	width: 100%;
	height: 50px;
}*/
section#quienes-somos{
	width: 100%;
	height: 550px;
}
.fila{
	width: 100%;
	height: 33.33%;
}
.col-ext{
	width: 40%;
	height: 100%;
	float: left;
}
.col-cen{
	width: 20%;
	height: 100%;
	float: left;
}
/*contactenos*/
/*#titulo3{
	width: 100%;
	height: 50px;
}*/
section#contactenos{
	width: 100%;
	height: 550px;
	background: rgb(255,255,255,0.5);
}
.div-contacto{
	width: 50%;
	height: 100%;
	float: left;
}
/*para el vídeo*/
.div-arr iframe{
	width: 100%;
	height: 100%;
	/*padding: 30px;para el video*/
	border:0;
}
.div-arr{
	width: 100%;
	height:70%;
}
.div-aba{
	width: 100%;
	height:30%;
	padding: 2px;
	background: rgb(255,255,255,0.9);
	text-align: center;

}
/*dirección contacto*/
.direccion{
	margin-top: 10px;
}
/*redes sociales*/
.facebook{
	width: 40px;
	height:40px;
	padding: 2px;
	margin-top: 10px;
}
/*footer*/
footer{
	width: 100%;
	height: 50px;
	background-color: #DB9F16;
}
